.candies-container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media (min-width: 750px) {
    .candies-container {
        padding: 32px;
        gap: 32px;
    }
}